{% extends 'layout.html' %}
{% block content %}
{% include 'navbar.html'%}
{% include 'message.html' %}
  </div>
<div class="container">
    <div class="row">
    {% if brand %}
    <h5 class="navbar navbar-expand-lg bg-light" style="color:#c90a6d">Products for {{brd_id.name}} Brand</h5>

     {% elif get_cat%}
            <h5 class="navbar navbar-expand-lg bg-light" style="color:#c90a6d">Products for {{cat_id.name}} Category</h5>
      {% else %}
                    <h5 class="navbar navbar-expand-lg bg-light" style="color:#c90a6d">EasyShop's  All Products</h5>



    {%endif%}

    </div>
    <div class="row">
    {% if brand %}



     {%  for bd in brand.items %}


  <div class="col-md-3 mt-3">

    <div class="card">
    <img src="{{url_for('static',filename='images/'+ bd.image_1)}}" alt="{{bd.name}}" class="card-img-top" height="200">
    <div class=card-body">
      {% if bd.discount >0 %}
      <h4 style="text-shadow: 2px 0.5px 2px #000; color:#53F92A;transform: rotate(-12deg);position:absolute;top:20%;left:15% ;">Discount {{bd.discount}}%</h4>
      {% endif %}
      <h5 class="text-center">{{bd.name}}</h5>
      <p class="text-center"> Price {{bd.price}}rs</p>
    </div>
    <div class="card-footer">
      <a href="{{url_for('single_page',id=bd.id)}}" class="float-left btn btn-sm btn-primary">Details</a>
      <form action="{{url_for('AddCart')}}" method="post">
                <input type="hidden" name="product_id" value="{{bd.id}}">
                <button type="submit" class="btn btn-sm btn-warning float-right">Add Cart</button>
                <input type="hidden" name="quantity" value="1" id="" min="1" >
                {% set colors = bd.colors.split(',') %}
                <select name="colors" id="colors" style="visibility:hidden;">
                    {% for color in colors %}
                    {% set col = color.split(':') %}
                    <option value="{{col[0]}}">{{col[0] | capitalize }}</option>
                    {% endfor %}
                </select>
            </form>
    </div>
    </div>
  </div>

    {% endfor %}
    </div>
  <div class="row">
    <div class="col md-3 mt-3 text-center ">
      {% if brand.has_prev %}
            <a class="btn btn-outline-info btn-sm mt-2" href="{{url_for('get_brand',id=brd_id.id,page=brand.prev_num)}}">Previous</a>

      {% endif %}
      {% if brand.total > 8 %}
    {% for page_num in brand.iter_pages(left_edge=1,right_edge=2,left_current=1,right_current=2) %}

    {% if page_num %}
      {% if brand.page==page_num%}
      <a class="btn btn-outline-info btn-sm mt-2" href="{{url_for('get_brand',id=brd_id.id,page=page_num)}}">{{page_num}}</a>
      {% else %}
      <a class="btn btn-outline-info btn-sm mt-2" href="{{url_for('get_brand',id=brd_id.id,page=page_num)}}">{{page_num}}</a>
      {% endif %}
      {% else %}
       ....
     {% endif %}
    {% endfor %}
      {% endif %}
      {% if brand.has_next %}
            <a class="btn btn-outline-info btn-sm mt-2" href="{{url_for('get_brand',id=brd_id.id,page=brand.next_num)}}">Next</a>

      {% endif %}
    </div>
    </div>

  <div class="row">
    {% elif get_cat %}

         {%  for cat in get_cat.items %}

   <div class="col-md-3 mt-3">
    <div class="card">
    <img src="{{url_for('static',filename='images/'+ cat.image_1)}}" alt="{{cat.name}}" class="card-img-top" height="200">
    <div class=card-body">
      {% if cat.discount >0 %}
      <h4 style="text-shadow: 2px 0.5px 2px #000; color:#53F92A;transform: rotate(-12deg);position:absolute;top:20%;left:15% ;">Discount {{cat.discount}}%</h4>
      {% endif %}
      <h5 class="text-center">{{cat.name}}</h5>
      <p class="text-center"> Price {{cat.price}}rs</p>
    </div>
    <div class="card-footer">
      <a href="{{url_for('single_page',id=cat.id)}}" class="float-left btn btn-sm btn-primary">Details</a>
      <form action="{{url_for('AddCart')}}" method="post">
                <input type="hidden" name="product_id" value="{{cat.id}}">
                <button type="submit" class="btn btn-sm btn-warning float-right">Add Cart</button>
                <input type="hidden" name="quantity" id="" value="1" min="1" max="{{cat.stock}}">
                {% set colors = cat.colors.split(',') %}
                <select name="colors" id="colors" style="visibility:hidden;">
                    {% for color in colors %}
                    {% set col = color.split(':') %}
                    <option value="{{col[0]}}">{{col[0] | capitalize }}</option>
                    {% endfor %}
                </select>
            </form>
    </div>
    </div>
  </div>
        {% endfor %}
    </div>
<div class="row">
    <div class="col md-3 mt-3 text-center ">
      {% if get_cat.has_prev %}
            <a class="btn btn-outline-info btn-sm mt-2" href="{{url_for('get_category',id=cat_id.id,page=get_cat.prev_num)}}">Previous</a>

      {% endif %}
      {% if get_cat.total > 8 %}
    {% for page_num in get_cat.iter_pages(left_edge=1,right_edge=2,left_current=1,right_current=2) %}

    {% if page_num %}
      {% if get_cat.page==page_num%}
      <a class="btn btn-outline-info btn-sm mt-2" href="{{url_for('get_category',id=cat_id.id,page=page_num)}}">{{page_num}}</a>
      {% else %}
      <a class="btn btn-outline-info btn-sm mt-2" href="{{url_for('get_category',id=cat_id.id,page=page_num)}}">{{page_num}}</a>
      {% endif %}
      {% else %}
       ....
     {% endif %}
    {% endfor %}
      {% endif %}
      {% if get_cat.has_next %}
            <a class="btn btn-outline-info btn-sm mt-2" href="{{url_for('get_category',id=cat_id.id,page=get_cat.next_num)}}">Next</a>

      {% endif %}
    </div>
    </div>
  <div class="row">
{% else %}
    {%  for product in products.items %}
  <div class="col-md-3 mt-3">
    <div class="card">
    <img src="{{url_for('static',filename='images/'+ product.image_1)}}" alt="{{product.name}}" class="card-img-top" height="200">
    <div class=card-body">
      {% if product.discount >0 %}
      <h4 style="text-shadow: 2px 0.5px 2px #000; color:#53F92A;transform: rotate(-12deg);position:absolute;top:20%;left:15% ;">Discount {{product.discount}}%</h4>
      {% endif %}
      <h5 class="text-center">{{product.name}}</h5>
      <p class="text-center"> Price {{product.price}}rs</p>
    </div>
    <div class="card-footer">
      <a href="{{url_for('single_page',id=product.id)}}" class="float-left btn btn-sm btn-primary">Details</a>
      <form action="{{url_for('AddCart')}}" method="post">
                <input type="hidden" name="product_id" value="{{product.id}}">
                <button type="submit" class="btn btn-sm btn-warning float-right">Add Cart</button>
                <input type="hidden" name="quantity" id="" value="1" min="1"  >
                {% set colors = product.colors.split(',') %}
                <select name="colors" id="colors" style="visibility:hidden;">
                    {% for color in colors %}
                    {% set col = color.split(':') %}
                    <option value="{{col[0]}}">{{col[0] | capitalize }}</option>
                    {% endfor %}
                </select>
            </form>
    </div>
    </div>
  </div>
    {% endfor %}
    </div>
  <div class="row">
    <div class="col md-3 mt-3 text-center ">
      {% if products.has_prev %}
            <a class="btn btn-outline-info btn-sm mt-2" href="{{url_for('home',page=products.prev_num)}}">Previous</a>

      {% endif %}
      {% if products.total>8 %}

    {% for page_num in products.iter_pages(left_edge=1,right_edge=2,left_current=1,right_current=2) %}

    {% if page_num %}
      {% if products.page==page_num%}
      <a class="btn btn-outline-info btn-sm mt-2" href="{{url_for('home',page=page_num)}}">{{page_num}}</a>
      {% else %}
      <a class="btn btn-outline-info btn-sm mt-2" href="{{url_for('home',page=page_num)}}">{{page_num}}</a>
      {% endif %}
      {% else %}
       ....
     {% endif %}
    {% endfor %}
      {% endif %}

      {% if products.has_next %}
            <a class="btn btn-outline-info btn-sm mt-2" href="{{url_for('home',page=products.next_num)}}">Next</a>

      {% endif %}
    </div>
    </div>
    {% endif %}
  </div>
</div>

{% endblock content %}