{% extends "layout.html" %}
{% block content %}
{% from "_formhelpers.html" import render_field %}

<div class="container-fluid px-0">
 <div class="shape"></div>
    <nav class="navbar navbar-expand-lg bg-dark">
      <a class="navbar-brand"  style ="color:#24FF00" href="/"><img src="{{url_for('static',filename='images/logo2.png')}}" width="50" height="50" style="border-radius:50%"><b> EasyShop</b></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" style ="color:" href="/">All Products <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               Brands
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                {% for brand in brands %}
                <a class="dropdown-item" href="{{url_for('get_brand', id=brand.id)}}">{{brand.name}}</a>
                {% endfor %}
              </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                 Categories
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    {% for category in categories %}
                  <a class="dropdown-item" href="{{url_for('get_category',id=category.id)}}">{{category.name}}</a>
                  {% endfor %}
                </div>
              </li>






          </ul>
          <form class="form-inline my-2 my-lg-0" action="{{url_for('result')}}">
            <input class="form-control mr-sm-2" type="search" placeholder="What you want" aria-label="Search" name="ser" >
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit" >Search</button>
          </form>
        </div>
      </nav>

</div>
<!---============== END OF NAV BAR ==================-->

<div class="container mt-2">

    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <h1 class="bg-secondary text-center" style="color:#00FFFF"><b>Create an Account</b></h1>
            {% include 'message.html' %}
        </div>


        <div class="col-md-2"></div>
    </div>
    <form action="" method="post">
        {{ form.csrf_token }}
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-4">
                {{ render_field(form.name, class="form-control")}}
                {{ render_field(form.username,class="form-control")}}
                {{ render_field(form.email,class="form-control")}}
                {{ render_field(form.password, class="form-control")}}
                {{ render_field(form.confirm ,class="form-control")}}
            </div>
            <div class="col-md-4">
                {{ render_field(form.country,class="form-control")}}
                {{ render_field(form.city, class="form-control")}}
                {{ render_field(form.contact, class="form-control")}}
                {{ render_field(form.address, class="form-control")}}
                {{ render_field(form.zipcode, class="form-control")}}
                {{ form.submit(class="btn btn-sm btn-info") }}
                <br>
                <br>
            <h5 class="float-left bg-light" style="color:#c90a6d">Already have account?</h5><a href="/customer/login" class="btn btn-sm btn-primary">Login</a>

            </div>



            <div class="col-md-2"></div>
        </div>
    </form>
</div>

{% endblock content %}